<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{imp[0]}} - {{imp[1][0]}}</title>
        {{imp[3][3]|safe}}
        <link rel="stylesheet" href="/views/neo_yousoro/css/main.css?ver=1">
        <script src="/views/neo_yousoro/js/main.js?ver=1"></script>
        <script src="/views/neo_yousoro/js/skin_set.js?ver=1"></script>
        <link   rel="stylesheet"
                href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
                integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
                crossorigin="anonymous">
        <link rel="shortcut icon" href="/views/main_css/file/favicon.ico?ver=1">
        {{imp[1][5]|safe}}
        {{imp[2][3]|safe}}
        <meta name="title" content="{{imp[0]}} - {{imp[1][0]}}">
        <meta name="keywords" content="{{imp[1][0]}}">
        <meta name="description" content="{{data|cut_100}}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div id="background">
            <div id="top">
                <div id="top_main">
                    <div id="logo">
                        <a href="/">{{imp[1][4]|safe}}</a>
                    </div>
                    <div id="top_tool" class="not_mobile">
                        <div id="top_tool_cel">
                            <a href="javascript:void(0);" onclick="opening('recent_cel');">
                                <i class="fas fa-exclamation-circle"></i>
                                {{'recent'|load_lang}}
                                <i class="fas fa-angle-down"></i>
                            </a>
                            <div id="recent_cel" class="cel_in_cel" style="display: none;">
                                <a href="/recent_changes">
                                    <i class="fas fa-sync-alt"></i>
                                    {{'edit'|load_lang}}
                                </a>
                                <hr>
                                <a href="/recent_discuss">
                                    <i class="fas fa-comment"></i>
                                    {{'discussion'|load_lang}}
                                </a>
                            </div>
                        </div>
                         
                        <div id="top_tool_cel">
                            <a href="javascript:void(0);" onclick="opening('other_cel');">
                                <i class="fas fa-plus-circle"></i>
                                {{'other'|load_lang}}
                                <i class="fas fa-angle-down"></i>
                            </a>
                            <div id="other_cel" class="cel_in_cel" style="display: none;">
                                <a href="/random">
                                    <i class="fas fa-random"></i>
                                    {{'random'|load_lang}}
                                </a>
                                <hr>
                                <a href="/other">
                                    <i class="fas fa-wrench"></i>
                                    {{'tool'|load_lang}}
                                </a>
                                <hr>
                                <a href="/skin_set">
                                    <i class="fas fa-cog"></i>
                                    {{'skin_setting'|load_lang}}
                                </a>
                            </div>
                        </div>
                         
                        <div id="top_tool_cel">
                            <a href="/user">
                                {% if imp[2][2] == 1 %}
                                    <i class="fas fa-user"></i>
                                {% elif imp[2][2] == 0 %}
                                    <i class="fas fa-user-times"></i>
                                {% else %}
                                    <i class="fas fa-user-secret"></i>
                                {% endif %}
                                {{imp[2][5]}}
                            </a>
                        </div>
                         
                        <form method="post" action="/search" id="search" role="search">
                            <input id="search_input" name="search" placeholder="{{'search'|load_lang}}" autocomplete="off" type="search">
                            |
                            <button type="submit" formaction="/goto"><i class="fas fa-sign-in-alt"></i></button>
                            |
                            <button type="submit" formaction="/search"><i class="fas fa-search"></i></button>
                        </form>
                    </div>
                    <div id="top_tool_mobile" class="is_mobile">
                        <a href="javascript:void(0);" onclick="opening('mobile_menu');">
                            <i class="fas fa-bars"></i> {{'tool'|load_lang}}
                        </a>
                    </div>
                </div>
            </div>
            <div id="mobile_menu" class="is_mobile" style="display: none;">
                <div id="mobile_menu_main">
                    <form method="post" action="/search" id="mobile_search" role="search">
                        <input id="mobile_search_input" name="search" placeholder="{{'search'|load_lang}}" autocomplete="off" type="search">
                        <br>
                        <button id="mobile_button_first" type="submit" formaction="/goto"><i class="fas fa-sign-in-alt"></i></button>
                        |
                        <button type="submit" formaction="/search"><i class="fas fa-search"></i></button>
                        |
                        <a href="javascript:void(0);" onclick="opening('mobile_menu');">
                            <i class="fas fa-bars"></i>
                        </a>
                    </form>
                    <h2>{{'recent'|load_lang}}</h2>
                    <li><a href="/recent_changes">{{'edit'|load_lang}}</a></li>
                    <li><a href="/recent_discuss">{{'discussion'|load_lang}}</a></li>
                    <h2>{{'other'|load_lang}}</h2>
                    <li><a href="/random">{{'random'|load_lang}}</a></li>
                    <li><a href="/other">{{'tool'|load_lang}}</a></li>
                    <li><a href="/skin_set">{{'skin_setting'|load_lang}}</a></li>
                    <h2>{{'user'|load_lang}}</h2>
                    <li><a href="/user">{{imp[2][5]}}</a></li>
                </div>
            </div>
            <div id="main">
                <div id="main_top">
                    {% if menu != 0 %}
                        <div id="tool" class="not_mobile">
                            {% for sub_d in menu %}
                                <div id="tool_cel">
                                    <a class="menu-item" href="/{{sub_d[0]}}">{{sub_d[1]}}</a>
                                </div>
                                {% if menu[loop.index] %}
                                    |
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                    <h1>
                        {{imp[0]}}
                        {% if imp[3][0] != 0 %}
                            <sub>{{imp[3][0]}}</sub>
                        {% endif %}
                    </h1>
                    {% if menu != 0 %}
                        <div id="tool" class="is_mobile">
                            {% for sub_d in menu %}
                                <div id="tool_cel">
                                    <a class="menu-item" href="/{{sub_d[0]}}">{{sub_d[1]}}</a>
                                </div>
                                {% if menu[loop.index] %}
                                    |
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div id="main_data">
                    {{data|safe}}
                </div>
            </div>
        </div>
        <div id="bottom">
            <div id="bottom_main">
                {{imp[1][1]|safe}}
                <br>
                <br>
                <a href="https://github.com/2du/openNAMU"><img id="b_logo" src="/views/main_css/file/s_logo.png"></a>
            </div>
        </div>
        <div id="nav_bar">
            <div id="go_top">
                <a href="#top">
                    <i class="fas fa-arrow-up"></i>  
                </a>                  
            </div>
            <div id="go_bottom">
                <a href="#bottom">
                    <i class="fas fa-arrow-down"></i>
                </a>
            </div>
            <div id="go_toc">
                <a href="#toc">
                    <i class="fas fa-list"></i>
                </a>
            </div>                                    
        </div>
    </body>
</html>