html, #main {
    background: black;
    color: white;
}

.cel_in_cel, #background, div#pre_search, #toc, #cate, #redirect {
    background: #1f2023;
    border-color: #1f2023;
}

#bottom {
    background: black;
    color: white;
}

#top .cel_in_cel a {
    color: white;
}

textarea, input, button, select {
    background: #1f2023;
    color: white;
    border-color: #1f2023;
}

#mobile_search_input, #mobile_search_input::placeholder {
    background: gray;
    color: white;
}

#toron_color_grey, code {
    background: #4a4a4a;
}

#toron_color_green {
    background: #2e4a2e;
}

#toron_color_red {
    background: #803737;
}

#toron_color_blue {
    background: #314c56;
}