body {
    max-width: 100%;
    word-break: break-all;
    word-wrap: break-word;
    margin: 0;
    font-family: '나눔고딕', 'Nanum Gothic', 'Noto Sans KR', 'Malgun Gothic', '맑은 고딕', sans-serif;
}

ul {
    padding: 0;
    padding-left: 10px;
}

input {
    padding: 5px;
}

select {
    padding: 5px;
}

hr {
    border: 0;
    border-top: 1px solid gainsboro;
}

button {
    padding: 10px;
    border: 2px solid gainsboro;
    background: white;
    cursor: pointer;
}

code {
    background: gainsboro;
}

td {
    border: 1px solid gainsboro;
}

li {
    margin-left: 20px;
}

#background {
    background: gainsboro;
}

#top {
    width: 100%;
    background: #4a4a4a;
    padding: 20px;
    padding-right: 0;
    padding-left: 0;
    position: relative;
    top: 0;
    left: 0;
    height: 20px;
}

#main {
    margin: auto;
    margin-top: -20px;
    padding: 20px;
    padding-bottom: 20px;
    background: white;
    min-height: 350px;
}

#bottom {
    width: 100%;
    background: white;
    padding-bottom: 20px;
}

#top_main {
    margin: auto;
}

#bottom_main {
    margin: auto;
    padding-top: 20px;
}

#tool {
    float: right;
    border: none;
}

@media (min-width: 780px) and (max-width: 1350px) {
    #main {
        width: 90%;
    }

    #top_main {
        width: 90%;
    }

    #bottom_main {
        width: 90%;
    }

    .is_mobile {
        display: none;
    }
}


@media (min-width: 1350px) and (max-width: 1590px) {
    #main {
        width: 70%;
    }

    #top_main {
        width: 70%;
    }

    #bottom_main {
        width: 70%;
    }

    .is_mobile {
        display: none;
    }
}

@media (min-width: 1590px) {
    #main {
        width: 55%;
    }

    #top_main {
        width: 55%;
    }

    #bottom_main {
        width: 55%;
    }

    .is_mobile {
        display: none;
    }
}

@media (max-width: 780px) {
    #main {
        width: 90%;
        border-left: none;
        border-right: none;
    }

    #top_main {
        width: 90%;
    }

    #bottom_main {
        width: 90%;
    }

    .not_mobile {
        display: none;
    }

    #tool {
        float: none;
        width: 90%;
        margin-bottom: 10px;
    }
}

h1 {
    border-bottom: 1px solid gainsboro;
    padding-bottom: 10px;
}

h2 {
    border-bottom: 1px solid gainsboro;
    padding-bottom: 10px;
}

h3 {
    border-bottom: 1px solid gainsboro;
    padding-bottom: 10px;
}

h4 {
    border-bottom: 1px solid gainsboro;
    padding-bottom: 10px;
}

h5 {
    border-bottom: 1px solid gainsboro;
    padding-bottom: 10px;
}

h6 {
    border-bottom: 1px solid gainsboro;
    padding-bottom: 10px;
}

#tool_cel {
    display: inline-block;
}

#main_top {
    width: 100%;
}

#logo {
    display: inline-block;
}

#top_tool {
    float: right;
    color: white;
    margin-top: -5px;
}

.cel_in_cel {
    border: 2px solid gainsboro;
    padding: 10px;
    position: absolute;
    background: white;
    margin-top: 10px;
    border-radius: 10px;
}

#top_tool_cel {
    display: inline-block;
}

#search {
    display: inline-block;
    width: 300px;
}

#mobile_search {
    width: 100%;
}

#search_input {
    width: 220px;
    height: 35px;
    border-radius: 17.5px;
    padding-left: 10px;
    background-color: gray;
    border: solid 1px gray;
    color: #fff;
    transition: .2s ease-in-out;
    outline: none;
}
#search_input::placeholder {
    color: #fff;
}
#search_input:hover, #search_input:focus {
    border-color: #ababab;
    background-color: #eaeaea;
    color: #000;
    transition: .2s ease-in-out;
}
#search_input:hover::placeholder, #search_input:focus::placeholder {
    color: #000;
}

div#pre_search {
    padding: 10px;
    border: 2px solid #4a4a4a;
    width: 200px;
    color: black;
    margin-top: 5px;
    background: white;
    border-radius: 10px;
    position: absolute;
}

div#pre_search a {
    color: dodgerblue;
}

#search button {
    padding: 0;
    border: none;
    background: transparent;
    color: white;
}

#mobile_search button {
    padding: 0;
    border: none;
    background: transparent;
}

#mobile_button_first {
    margin-top: 10px;
}

#top_tool_mobile {
    float: right;
}

#mobile_menu {
    width: 200px;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background: white;
    border-left: 2px solid gainsboro;
    z-index: 1;
    overflow-y: scroll;
}

#mobile_menu button {
    color: dodgerblue;
}

#mobile_menu_main {
    width: 90%;
    margin: auto;
    margin-top: 5%;
}

#toc {
    max-width: 300px;
}

#top a {
    color: white;
}

#top .cel_in_cel a {
    color: black;
}

a {
    color: dodgerblue;
}

#syntax {
    background: #f0f0f0;
    padding: 5px;
    border-radius: 10px;
}

pre {
    border: 2px solid gainsboro;
    border-radius: 10px;
}

textarea {
    border: 2px solid gainsboro;
    font-family: 'Noto Sans KR', '나눔고딕', 'Nanum Gothic', 'Malgun Gothic', '맑은 고딕', sans-serif;
    padding: 0;
}

input {
    border: 2px solid gainsboro;
    font-family: 'Noto Sans KR', '나눔고딕', 'Nanum Gothic', 'Malgun Gothic', '맑은 고딕', sans-serif;
}

#toc {
    border: 2px solid gainsboro;
    border-radius: 10px;
}

#cate, #redirect {
    border: 2px solid gainsboro;
    border-radius: 10px;
}

#syntax code {
    background: transparent;
}

#go_toc {
    display: inline-block;
    padding: 10px;
    width: 25px;
}

#go_top {
    display: inline-block;
    padding: 10px;
    width: 25px;
}

#go_bottom {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    width: 25px;
}

#nav_bar {
    font-size: 24px;
    position: fixed;
    bottom: 0;
    right: 0;
    border: 2px solid #4a4a4a;
    background: #4a4a4a;
    text-align: center;
    border-radius: 10px 0px 0px 0px;
}

#nav_bar a {
    color: white;
}

blockquote {
    padding: 1em calc(2em + 25px) 1em 1em;
    margin: 1em 0em 0em;
    background: #eeeeee;
    border: 2px dashed #ccc;
    border-left: 5px solid black;
}

#out_link::before {
    content: 'ⓔ';
    font-weight: 900;
    background: transparent;
    color: green;
}

a:hover {
    text-decoration: underline;
}

#mobile_menu a:hover, #top a:hover {
    text-decoration: none;
}

h1#title {
    margin-bottom: 10px;
}

div#last_edit {
    margin-bottom: 20px;
}

#topic_color {
    color: limegreen;
}

#mobile_search_input {
    border-radius: 10px;
}