<iframe width="560" height="315" src="https://www.youtube.com/embed/7wzZbLKnUuA" allowfullscreen></iframe>
<hr class="main_hr">
<pre>
    Nagareteku toki no naka de demo kedarusa ga hora guruguru mawatte
    Watashi kara hanareru kokoro mo mienai wa sou shiranai
    
    Jibun kara ugoku koto mo naku toki no sukima ni nagasare tsuzukete
    Shiranai wa mawari no koto nado watashi wa watashi sore dake
    
    Yume miteru? Nani mo mitenai? Kataru mo muda na jibun no kotoba
    Kanashimu nante tsukareru dake yo nani mo kanjizu sugoseba ii no
    
    Tomadou kotoba ataerarete mo jibun no kokoro tada uwa no sora
    Moshi watashi kara ugoku no naraba subete kaeru no nara kuro ni suru
    
    Konna jibun ni mirai wa aru no? Konna sekai ni watashi wa iru no?
    Ima setsunai no? Ima kanashii no? Jibun no koto mo wakaranai mama
    
    Ayumu koto sae tsukareru dake yo hito no koto nado shiri mo shinaiwa
    Konna watashi mo kawareru no nara moshi kawareru no nara shiro ni naru?
    
    Nagareteku toki no naka de demo kedarusa ga hora guruguru mawatte
    Watashi kara hanareru kokoro mo mienaiwa sou shiranai
    
    Jibun kara ugoku koto mo naku toki no sukima ni nagasare tsuzukete
    Shiranai wa mawari no koto nado watashi wa watashi sore dake
    
    Yume miteru? Nani mo mitenai? Kataru mo muda na jibun no kotoba
    Kanashimu nante tsukareru dake yo nani mo kanjizu sugoseba ii no
    
    Tomadou kotoba ataerarete mo jibun no kokoro tada uwa no sora
    Moshi watashi kara ugoku no naraba subete kaeru no nara kuro ni suru
    
    Muda na jikan ni mirai wa aru no? Konna tokoro ni watashi wa iru no?
    Watashi no koto o iitai naraba kotoba ni suru no nara "roku de nashi"
    
    Konna tokoro ni watashi wa iru no? Konna jikan ni watashi wa iru no?
    Konna watashi mo kawareru no nara moshi kawareru no nara shiro ni naru?
    
    Ima yume miteru? Nani mo mitenai? Kataru mo muda na jibun no kotoba?
    Kanashimu nante tsukareru dake yo nani mo kanjizu sugoseba ii no
    
    Tomadou kotoba ataerarete mo jibun no kokoro tada uwa no sora
    Moshi watashi kara ugoku no naraba subete kaeru no nara kuro ni suru
    
    Ugoku no naraba ugoku no naraba subete kowasu wa subete kowasu wa
    Kanashimu naraba kanashimu naraba watashi no kokoro shiroku kawareru?
    
    Anata no koto mo watashi no koto mo subete no koto mo mada shiranai no
    Omoi mabuta wo aketa no naraba subete kowasu no nara kuro ni nare!!!

    <a href="https://touhou.fandom.com/wiki/Lyrics:_Bad_Apple!!">Ref - Touhou wiki</a>
</pre>    