<!DOCTYPE html>
<html lang="{{'language_tag'|load_lang}}">
    <head>
        <meta charset="utf-8">
        {% if imp[3][0] != 0 %}
            <title>{{imp[0]}} {{imp[3][0]}} - {{imp[1][0]}}</title>
        {% else %}
            <title>{{imp[0]}} - {{imp[1][0]}}</title>
        {% endif %}
        {{imp[3][3]|safe}}
        <script src="https://code.iconify.design/1/1.0.3/iconify.min.js"></script>
        <link rel="stylesheet" href="/views/ringo/css/main.css?ver=1">
        <link rel="shortcut icon" href="/views/main_css/file/favicon.ico?ver=1">
        {{imp[1][5]|safe}}
        {{imp[2][3]|safe}}
        {% if imp[3][0] != 0 %}
            <meta name="title" content="{{imp[0]}}{{imp[3][0]}} - {{imp[1][0]}}">
        {% else %}
            <meta name="title" content="{{imp[0]}} - {{imp[1][0]}}">
        {% endif %}
        <meta name="keywords" content="{{imp[0]}}">
        {% if imp[2][12] != 0 and imp[2][12] == 'w' %}
            <meta name="description" content="{{data|cut_100}}">
        {% endif %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <header id="main">
            <span id="left">
                <span id="logo"><a href="/">{{imp[1][4]|safe}}</a></span>
            </span>
            <span id="right">
                <span class="top_cel" id="">
                    <span class="iconify" data-icon="ic:baseline-access-time" data-inline="true"></span>
                    <span class="not_mobile">{{'list'|load_lang}}</span>
                    <span class="iconify" data-icon="ic:baseline-arrow-drop-down" data-inline="true"></span>
                </span>
                <span class="top_cel" id="">
                    <span class="iconify" data-icon="ic:baseline-archive" data-inline="true"></span>
                    <span class="not_mobile">{{'tool'|load_lang}}</span>
                    <span class="iconify" data-icon="ic:baseline-arrow-drop-down" data-inline="true"></span>
                </span>
                <span class="top_cel" id="">
                    {% if imp[2][2] == 1 %}
                        {% if imp[2][8] != '0' %}
                            <span class="iconify" data-icon="ic:baseline-add-alert" data-inline="true"></span>
                        {% else %}
                            <span class="iconify" data-icon="ic:baseline-person-add" data-inline="true"></span>
                        {% endif %}
                    {% else %}
                        <span class="iconify" data-icon="ic:round-person-search" data-inline="true"></span>
                    {% endif %}
                    <span class="not_mobile">{{'tool'|load_lang}}</span>
                    <span class="iconify" data-icon="ic:baseline-arrow-drop-down" data-inline="true"></span>
                </span>
                <form class="not_mobile" method="post" action="/search" role="search">
                    <input class="not_mobile search" name="search" placeholder="{{'search'|load_lang}}" autocomplete="off" type="search">
                    <button type="submit" id="goto" formaction="/goto" class="search_button">
                        <span class="iconify" data-icon="ic:round-find-in-page" data-inline="true"></span>
                    </button>
                    <button type="submit" id="search" formaction="/search" class="search_button">
                        <span class="iconify" data-icon="ic:baseline-search" data-inline="true"></span>
                    </button>
                </form>
            </span>
            <form class="only_mobile" method="post" action="/search" role="search">
                <input class="only_mobile search" name="search" placeholder="{{'search'|load_lang}}" autocomplete="off" type="search">
                <button type="submit" id="goto" formaction="/goto" class="search_button">
                    <span class="iconify" data-icon="ic:round-find-in-page" data-inline="true"></span>
                </button>
                <button type="submit" id="search" formaction="/search" class="search_button">
                    <span class="iconify" data-icon="ic:baseline-search" data-inline="true"></span>
                </button>
            </form>
        </header>
        <section>
            <header id="section">
                <article class="main" id="title">
                    <h1><span class="change_space">{{imp[0]}}</span></h1>
                    {% if menu != 0 %}
                        <div id="menu">
                            {% for menu_data in menu %}<!--
                             --><div class="menu_item">
                                    {% if menu[0] == 1 %}
                                        {% set menu_data_2 = menu_data[0] %}
                                    {% else %}
                                        {% set menu_data_2 = '/' + menu_data[0] %}
                                    {% endif %}
                                    
                                    {% if menu_data|length > 2 and menu_data[2] == 1 %}
                                        {% set menu_topic = 'topic_color' %}
                                    {% else %}
                                        {% set menu_topic = '' %}
                                    {% endif %}
                                    
                                    <a class="menu_item_link" href="{{menu_data_2}}" id="{{menu_topic}}">
                                        {{menu_data[1]}}
                                    </a>
                                </div><!--
                         -->{% endfor %}
                        </div>
                    {% endif %}
                </article>
            </header>
            <article class="main" id="main_data">
                {{data|safe}}
            </article>
            <footer class="not_mobile">
                <article class="main" id="footer">
                    {{imp[1][1]|safe}}
                    <br>
                    <br>
                    <a href="https://github.com/openNAMU/openNAMU"><img id="b_logo" src="/views/main_css/file/s_logo.png"></a>
                </article>
            </footer>
        </section>
        <aside>
            <button id="side_button_1" class="side_button selected">변경</button><!--
         --><button id="side_button_2" class="side_button">토론</button><!--
         --><button id="side_button_3" class="side_button">목차</button><!--
         --><button id="side_button_4" class="side_button">각주</button>
            <div id="side_content">
                Loading...
            </div>
        </aside>
        <footer class="only_mobile">
            {{imp[1][1]|safe}}
            <br>
            <br>
            <a href="https://github.com/openNAMU/openNAMU"><img id="b_logo" src="/views/main_css/file/s_logo.png"></a>
        </footer>
    </body>
</html>