html, #main {
    background: black;
    color: white;
}

#top {
    background: black;
}

.cel_in_cel, #background, div#pre_search, #toc, #cate, #redirect {
    background: #1f2023;
    border-color: #1f2023;
}

#bottom {
    background: black;
    color: white;
}

#top .cel_in_cel a {
    color: white;
}

#mobile_search_input, #mobile_search_input::placeholder {
    background: gray;
    color: white;
}

#titlt_a {
    color: white;
}

#search_input, textarea, input, button, select, #toc, #cate, #redirect { 
    border-color: #1f2023; 
    background: #1f2023;
    color: white;
}

#search_input:hover, #search_input:focus {
    color: white;
}

#search_input::placeholder {
    color: white;
}

button#opennamu_save_button {
    background: #083808;
}