body, textarea, input, pre, code {
    font-family: 'Apple SD Gothic', '맑은고딕', 'Nanum Gothic', 'Noto Sans KR', sans-serif;
}

body {
    max-width: 100%;
    
    word-break: break-all;
    word-wrap: break-word;
    
    margin: 0;
    
    font-size: 14px;
}

select {
    padding: 5px;
}

html {
    background: #eeeeee;
}

#background {
    background: #eeeeee;
}

#main {
    margin: auto;
    margin-top: -20px;
    
    padding: 20px;
    padding-bottom: 20px;
    
    min-height: 350px;
    
    background: white;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

#bottom {
    width: 100%;
    
    background: #eeeeee;
    
    margin-top: 10px;
    padding-bottom: 20px;
}

#bottom_main {
    margin: auto;
    
    padding-top: 20px;
}

#tool {
    float: right;
    
    border: none;
}

@media (min-width: 780px) and (max-width: 1180px) {
    #main {
        width: calc(100% - 45px);
    }

    #top_main, #bottom_main {
        width: 90%;
    }

    .is_mobile {
        display: none;
    }
}


@media (min-width: 1180px) and (max-width: 2000px) {
    #main, #top_main, #bottom_main {
        width: 1000px;
    }
    
    .is_mobile {
        display: none;
    }
}

@media (min-width: 2000px) {
    #main, #top_main, #bottom_main {
        width: 55%;
    }

    .is_mobile {
        display: none;
    }
}

@media (max-width: 780px) {
    #main {
        width: 90%;
        
        border-left: none;
        border-right: none;
    }

    #top_main, #bottom_main {
        width: 90%;
    }

    .not_mobile {
        display: none;
    }

    #tool {
        float: none;
        
        width: 90%;
        
        margin-top: 0px;
        margin-bottom: 10px;
    }
}

h1, h2, h3, h4, h5, h6 {
    border-bottom: 1px solid gainsboro;
    
    padding-bottom: 10px;
}

#main_top {
    width: 100%;
}

/* top */
#top {
    width: 100%;
    line-height: 50px;
    
    position: relative;
    top: 0;
    left: 0;

    background: #2780e3;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

#top_main {
    margin: auto;
}

#top_tool {
    float: right;
    color: white;
}

#top_tool_group {
    display: inline-block;
    
    margin-right: 10px;
}

#top_tool_cel {
    display: inline-block;
    
    margin-right: -12px;
}

.top_in_cel {
    padding-left: 10px;
    padding-right: 10px;
    
    transition: .2s ease-in-out;
}

.top_in_cel:hover {
    background: #022988;
    
    transition: .2s ease-in-out;
}

#top_in_user {
    margin-right: -13px;
}

#tool_cel {
    display: inline-block;
}

#top a {
    color: white;
    
    display: block;
}

#logo {
    display: inline-block;
}

#logo a {
    padding-left: 20px;
    padding-right: 20px;
}

.cel_in_cel {
    padding: 10px;
    
    line-height: initial;
    
    position: absolute;
    
    background: white;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

#top .cel_in_cel a {
    color: black;
    
    padding-left: 0;
    padding-right: 0;
}

/* search */
#search {
    display: inline-block;
    width: 300px;
}

#search_input {
    width: 220px;
    height: 35px;
    
    padding-left: 10px;
    
    background-color: white;
    border: solid 2px #2780e3;
    color: black;
    box-shadow: none;
    
    transition: .2s ease-in-out;
}

#search_input::placeholder {
    color: black;
}

#search_input:hover, #search_input:focus {
    border: solid 2px #f4aba1;
    
    transition: .2s ease-in-out;
}

#pre_search {
    padding: 10px;
    border: 1px solid #4a4a4a;
    width: 200px;
    color: black;
    margin-top: 5px;
    background: white;
    position: absolute;
}

#pre_search a {
    color: dodgerblue;
}

#search button {
    padding: 0;
    
    border: none;
    
    background: transparent;
    box-shadow: none;
    
    color: white;
}

/* content */
a {
    color: dodgerblue;
}

#toc {
    max-width: 300px;
}

/*
pre, #toc, #cate, #redirect {
    border: 1px solid #aaa;
}
*/

#redirect, #cate, #toc, button#opennamu_save_button, button#opennamu_preview_button {
    border: 0;
    
    padding: 10px;
    
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

blockquote {
    border: 0;
    
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

button#opennamu_save_button {
    background: #92f7f4;
}

button#opennamu_preview_button {
    margin-left: 5px;
}

#cate {
    background: #ccf5bc;
}

#redirect {
    background: #d9edf7;
}

#toc {
    background: lightyellow;
    padding: 20px;
}

textarea, input, pre {    
    border: 0;
    
    padding: 5px;
    
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

pre {
    padding: 10px;
}

#syntax {
    background: #f0f0f0;
    padding: 5px;
}

#syntax code {
    background: transparent;
}

table {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

button {
    border: 0;
    
    padding: 10px;
    
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    background: papayawhip;
    
    cursor: pointer;
}

input[type="checkbox"], input[type="radio"] {
    box-shadow: None;
    background: transparent;
}

select {
    padding: 0;
    padding-left: 5px;
    padding-right: 5px;
    
    background: white;
    border: 0;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    
    min-height: 30px;
}

/* nav_bar */
#nav_bar {
    z-index: 100;
    
    font-size: 25px;
    
    position: fixed;
    bottom: 0;
    right: 0;
    
    background: #fa635c;
    box-shadow: -1px -1px 4px 0 rgba(0,0,0,0.16), -1px -1px 10px 0 rgba(0,0,0,0.12);
    
    text-align: center;
}

#go_toc {
    display: inline-block;

    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    
    width: 25px;
}

#go_top {
    display: inline-block;
    
    padding-right: 10px;
    padding-left: 10px;
    
    width: 25px;
}

#go_bottom {
    display: inline-block;

    padding-right: 10px;
    padding-left: 10px;
    
    width: 25px;
}

#nav_bar a {
    color: white;
}

/* content */
a:hover {
    text-decoration: underline;
}

#top a:hover {
    text-decoration: none;
}

h1#title {
    margin-bottom: 10px;
}

div#last_edit {
    margin-bottom: 20px;
}

@media (max-width: 600px) {
    #top_tool {
        float: none;
        display: inline;
    }

    #top_tool_group {
        margin-left: 20px;
    }

    #search {
        width: 100%;
    }

    #search_input {
        width: calc(100% - 60px);
    }
}

#titlt_a {
    color: initial;
}

blockquote {
    background-color: #ffefff;
    border-left: 4px solid #ffb3ff;
}

#b_logo {
    width: 100px;
}