<div id="easter_egg"></div>
<script>
    let random_code = [
        'DzjjcMNrTHU', // 상해홍차관
        'xpg2Ag-xt_c', // 죽취비상
        'IKIoAlhQV-c', // 유령악단
        'MLOvyLsYJvo', // 플라워링 나이트
        'Fsppuynb440', // 우상에 세계를 맡기고
        'DbTIoBK9Wvo', // 고향별이 비치는 바다
        'nytZOF0hp_c', // 오늘 밤은 표일한 에고이스트
        'I9GiwMcg424', // 브와르 마법 도서관
        '8NQSBvzjWZk', // 배드애플
        'uiqEO6BK7BM', // 달까지 닿아라 불사의 연기
        'np7BG71YTIY', // 라스트 리모드
        '8gaqt1AOyck', // 쇄월
        'EsnW_hyI-V8', // 디자이어 드라이브
        'es9twrnfZ_Q', // 유심지의 유정천
    ];
    let get_num = location.search.replace(/[^0-9]+/g, '');
    if(get_num !== '' && Number(get_num) < random_code.length) {
        get_num = Number(get_num);
    } else {
        get_num = Math.floor(Math.random() * random_code.length);
    }

    let add_link = '';
    for(let i = 0; i < random_code.length; i++) {
        add_link += '<a href="?select=' + String(i) + '">(' + String(i) + ')</a> ';
    }

    document.getElementById('easter_egg').innerHTML = '' +
        add_link +
        '<hr class="main_hr">' +
        '<iframe     style="width: 560px; height: 315px;" ' +
                    'src="https://www.youtube.com/embed/' + random_code[get_num] + '" allowfullscreen></iframe>' +
        '';
</script>