#RecentChanges:hover, #RecentChanges:focus {
    text-decoration: none;
	color: #d1bd6b;
}
#logo:hover, #logo:focus {
    color: #d1bd6b;
}

#in {
    margin-left: 10px;
}

#log {
    line-height: 32px;
    width: 20px;
    height: 36px;
    font-size: 16px;
    color: white;
    float: left;
    margin-right: 10px;
    padding: 5px;
	margin-top: 9px;
}
#log:hover, #log:focus {
    color: #d1bd6b;
}

textarea, label, span, body, strong, b, div, h1, h2, h3, h4, h5, h6, h7, input {
	font-family: helvetica, Meiryo, "Noto Sans Japanese", 나눔고딕, "맑은 고딕", "Nanum Gothic", sans-serif;
}
		
pre {
    font-family: '니눔고딕코딩', 'Nanum Gothic Coding', monospace;
}

.four-fifths.column {
    word-break: break-all;
}

textarea {
    width: 100%;
}

li {
    margin-left: 20px;
}

.form-actions {
    margin-top: 15px;
}

.contect {
    color: #FFFFFF;
    background-color: #008000;
}

.out_link {
    color: #008000;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 10px;
}

.font-size-1 {
    font-size: 120%;
}

.font-size-2 {
    font-size: 140%;
}

.font-size-3 {
    font-size: 160%;
}

.font-size-4 {
    font-size: 180%;
}

.font-size-5 {
    font-size: 200%;
}

.font-size-small-1 {
    font-size: 85%;
}

.font-size-small-2 {
    font-size: 70%;
}

.font-size-small-3 {
    font-size: 55%;
}

.font-size-small-4 {
    font-size: 40%;
}

.font-size-small-5 {
    font-size: 25%;
}

ref {
    background-color: #efefef;
    color: #555555;
    border: 1px solid #cecece;
    font-size: 0.8rem;
    margin-left: 0.1rem;
    margin-right: 0.2rem;
}

iframe {
    max-width: 100%;
}

blockquote {
    padding:1em calc(2em + 25px) 1em 1em;
    margin:1em 0em 0em;
    background:#eeeeee;
    display:table;
    border:2px dashed #ccc;
    border-left:5px solid #d1bd6b;
    background-image: url('../static/images/quote.png');
    background-position:calc(100% - 10px) 10px;
    background-repeat:no-repeat;
    background-size:25px;
}

img {
    max-width: 100%;
}

td {
    padding: 5px 10px;
    border: 1px solid #dddddd;
}

table {
    background-color: #f5f5f5;
}

.title {
	display: inline-block;
	margin-bottom: 30px;
}

.titlee {
	display: inline-block;
	margin-bottom: 10px;
}

not_del {
    display: none;
}

#toc {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 20px;
    font-size: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
}

#toc-name {
    font-size: 18px;
}

s, strike, del {
	color:gray;
}

pre {
    padding: 7px;
	background-color: #eeeeee;
	border: 1px solid #dddddd;
	border-radius: 3px;
	overflow-x: auto;
	display: block;
	font-size: 90%;
	line-height: 1.5;
	color: #373a3c;
}

s:hover, strike:hover, del:hover {
	color:#666;background-color:#eee;text-decoration:none;
}

.menu-item {
    float: left;
	position: relative;
}

.menu {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.one-fifth {
    width: 100%;
}

.input-group {
    width: 250px;
}

#search {
    width: 250px;
    float: right;
	padding: 5px;
	margin-bottom: 0;
}

#logo {
    float: left;
	margin-right: 10px;
	padding: 5px;
}

.one-fifth.column {
    margin-bottom: 20px;
	margin-top: -18px;
	background: #867324;
	z-index: 2;
	position: relative;
}

.btn {
    height: 34px;
}

.scroll-buttons a:link, .scroll-buttons a:visited {
    color: white;
}
div.scroll-buttons a {
    display: inline-block;
    float: left;
    width: 42px;
    height: 42px;
    padding: 5px 8px 9px 8px;
    border: 1px solid #545454;
    border-left: 0;
    text-decoration: none;
    text-align: center;
    background: rgba(26,26,26,0.9);
    border-bottom: 0;
}

.footnote-list {
    margin-bottom: -10px;
    display: block;
}

#footnote {
    margin-bottom: -10px;
}

div.scroll-buttons {
    position: fixed;
    float: right;
    height: 42px;
    text-align: right;
    font-size: 1.7em;
    z-index: 10000;
    margin-bottom: -10px;
    bottom: 10px;
    right: 0px;
	opacity: 0.8;
}

.four-fifths {
    float: none;
    margin-left: auto;
}

#tool {
    float: right;
}

#logo {
    width: auto;
    height: auto;
	font-size: 25px;
	color: white;
}

#logo:hover {
    text-decoration: none;
}

#powered {
    float: right;
}

#top {
    position: relative;
}

#is_mobile {
    margin-left: 5px;
}

table {
    font-size: 13px;
}

.scroll-buttons .fa {
    margin-top: 5px;
}

@media (max-width: 939px) {
	#search {
		float: right;
	}
}

@media (max-width: 459px) {
	#search {
		float: left;
		width: 100%;
		margin-bottom: 5px;
	}
	.input-group {
		width: 100%;
	}
}

@media (min-width: 1280px) {
	#all_contect {
        width: 1260px;
        margin: auto;
    }
}

.four-fifths.column {
    border: 1px solid #EFEFEF;
    padding: 30px;
	background: white;
}

body {
    background: #EFEFEF;
}

#RecentChanges {
	line-height: 32px;
    width: 100px;
    height: 45px;
    font-size: 16px;
    color: white;
    float: left;
    padding: 5px;
}
@media (max-width: 710px) {
	#is_mobile {
		display: none;
	}
	#RecentChanges {
		width: 20px;
		margin-right: 10px;
		margin-top: 9px;
		height: 36px;
	}
}

#left_bar {
    height: 100%;
    width: 15%;
    position: fixed;
	overflow: scroll;
    left: 0;
    top: 0;
    background: white;
    padding: 20px;
}

#yosolo {
    width: 33.33%;
	text-align: center;
}

#toron {
    width: 100%;
}

#toroncolorgreen {
	background-color: #B0D3AD;
}

#toroncolor {
	background-color: #d5d5d5;
}

#bb {
    background: #a28a7e;
    color: white;
}

#history {
	margin-right: 10px;
}

#list {
    margin-top: 10px;
    margin-bottom: 10px;
}

.foot {
    position: fixed;
    bottom: 0px;
    padding: 10px;
    width: 100%;
    background: white none repeat scroll 0% 0%;
    left: 0px;
    border: 1px solid #ccc;
    text-align: center;
    z-index: 10000;
}

#toroncolorstop {
    background: #9dd5e1;
}

#bl {
    background: gainsboro;
}

#toroncoloradmin {
    background-color: #F5C1C1;
}

@media (min-width: 768px) {
    .four-fifths {
        width: 85%;
    }
}

@media (max-width: 768px) {
    .four-fifths {
        width: 100%;
    }

    #left_bar {
        display: none;
    }
}

.out_link::before {
    padding: 0px 0.15em;
    background: green;
    color: white;
    content: "외";
    font-family: "Ionicons" !important;
}

textarea {
    width: 100%;
}

a.not_thing {
    color: #bf4c4c;
}

#open {
    background: #ede1ad;
    text-shadow: none;
}

.menu-item:hover, #open:hover {
    background-color: #ddd;
}

sub, sup {
    line-height: 1.4em;
}
