<html>
	<head>
		<title>{{title}}</title>
		<link rel="stylesheet" href="{{url_for('static', filename='primer.css')}}">
		<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
		<link rel="stylesheet" href="{{url_for('static', filename='font-awesome/css/font-awesome.min.css')}}">
        <script type="text/x-mathjax-config">
          MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
        </script>
        <script type="text/javascript" async
          src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_CHTML">
        </script>
        <meta name="twitter:creator" content="@{{logo}}">
        <meta name="twitter:title" content="{{title}}">
        <meta name="twitter:site" content="@{{logo}}">
        <meta name="twitter:card" content="summary">
        <meta name="twitter:description" content="{{data}}" />
		<link rel="shortcut icon" href="{{url_for('static', filename='images/on.ico')}}">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<br>
		<div class="one-fifth column">
			<div id="top">
				<a href="/" id="logo">{{logo}}</a>
				<div>
					<a href="/recentchanges" id="RecentChanges"><i class="fa fa-refresh" aria-hidden="true"></i><span id="is_mobile">최근 변경</span></a>
					<a href="/recentdiscuss" id="RecentChanges"><i class="fa fa-comment" aria-hidden="true"></i><span id="is_mobile">최근 토론</span></a>
					<a href="/random" id="log"><i class="fa fa-random" aria-hidden="true"></i></a>
					<a href="/user" id="log">{% if login == 1 %}<i class="fa fa-user" aria-hidden="true"></i>{% elif login == 0 %}<i class="fa fa-user-times" aria-hidden="true"></i>{% else %}<i class="fa fa-user-secret" aria-hidden="true"></i>{% endif %}</a>
					<a href="/other" id="log"><i class="fa fa-cogs" aria-hidden="true"></i></a>
				</div>
				<form method="POST" action="/search" id="search">
					<div class="input-group">
						<input class="form-control" name="search" type="text">
						<span class="input-group-button"><button class="btn"><i class="fa fa-search" aria-hidden="true"></i></button></span>
					</div>
				</form>
			</div>
		</div>
		<div class="scroll-buttons">
			<a class="scroll-toc" href="#toc"><i class="fa fa-list-alt" aria-hidden="true"></i></a>
			<a class="scroll-button" href="#top" id="left"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
			<a class="scroll-bottom" href="#powered" id="right"><i class="fa fa-arrow-down" aria-hidden="true"></i></a>
		</div>
        <div id="all_contect">
            <div id="left_bar">
                <a href="#">맨 위로</a>
                <br>
                <br>
                {% autoescape false %}
                {{left}}
                {% endautoescape %}
            </div>
            <div class="four-fifths column">
                <div id="tool">
                    <nav class="menu">
                        <a class="menu-item selected" href="#" onclick="return false">{% if sub %}{{sub}}{% elif tn == 1 %}문서{% else %}기타{% endif %}</a>
                        {% if tn == 1 %}
                        <a class="menu-item" href="/edit/{{page}}">수정</a>
                        <a class="menu-item" id="{{topic}}" href="/topic/{{page}}">토론</a>
                        <a class="menu-item" href="/delete/{{page}}">삭제</a>
                        <a class="menu-item" href="/move/{{page}}">이동</a>
                        <a class="menu-item" href="/raw/{{page}}">Raw</a>
                        <a class="menu-item" href="/history/{{page}}/n/1">역사</a>
                        <a class="menu-item" href="/backlink/{{page}}/n/1">역링크</a>
                        {% if redirect %}
                        <a class="menu-item" href="/w/{{page}}">넘기기</a>
                        {% endif %}
                        {% if admin == "ACL" %}
                        <a class="menu-item" href="/acl/{{page}}">ACL</a>
                        {% endif %}
                        {% if uppage %}
                        <a class="menu-item" style="{{style}}" href="/w/{{uppage}}">상위</a>
                        {% endif %}
                        {% elif tn == 6 or tn == 13 or not tn and not sub == '역링크' or tn == 12 or tn == 3 or tn == 4 or tn == 20 or tn == 21 %}
                        <a class="menu-item" href="javascript:history.back(-1);">뒤로</a>
                        {% elif tn == 10 and not list or tn == 11 %}
                        <a class="menu-item" href="/topic/{{page}}">토론 목록</a>
                        {% else %}
                        <a class="menu-item" href="/w/{{page}}">문서</a>
                        {% endif %}
                    </nav>
                </div>
                <h1 class="title">{{title}}{% if acl %} <sub>{{acl}}</sub>{% endif %}{% if sub %} <sub>({{sub}})</sub>{% endif %}</h1>
                {% if tn == 1 %}
                {% if redirect %}
                {% autoescape false %}
                <li style="margin-top: -20px;"><a href="/w/{{redirect}}/from/{{page}}">{{redirect}}</a>에서 넘어 왔습니다.</li>
                <br>
                {% endautoescape %}
                {% endif %}
                <div>
                    {% autoescape false %}
                    {{data}}
                    {% endautoescape %}
                </div>
                {% elif tn == 2 %}
                {% if login == 0 %}
                <br>
                <span>비 로그인 상태입니다. 비 로그인으로 작업 시 아이피가 역사에 기록됩니다.</span>
                <br>
                <br>
                {% endif %}
                {% if section == 1 %}
                <form id="usrform" name="f1" method="POST" action="/edit/{{page}}/section/{{number}}">
                    <textarea rows="30" cols="100" name="content" form="usrform">{{data}}</textarea>
                    {% if preview == 1 %}
                    <textarea style="display:none;" rows="30" cols="100" name="otent" form="usrform">{{odata}}</textarea>
                    {% else %}
                    <textarea style="display:none;" rows="30" cols="100" name="otent" form="usrform">{{data}}</textarea>
                    {% endif %}
                    <input name="send" style="margin-top:10px;width:100%" type="text">
                    <br>
                    <br>
                    <div class="form-actions">
                        <button class="btn btn-primary" type="submit" onclick="f1.action='/edit/{{page}}/section/{{number}}';">저장</button>
                        <button class="btn" type="submit" onclick="f1.action='/preview/{{page}}/section/{{number}}';">미리보기</button>
                    </div>
                </form>
                {% else %}
                <form id="usrform" name="f1" method="POST" action="/edit/{{page}}">
                    <textarea rows="30" cols="100" name="content" form="usrform">{{data}}</textarea>
                    <input name="send" style="margin-top:10px;width:100%" type="text">
                    <br>
                    <br>
                    <div class="form-actions">
                        <button class="btn btn-primary" type="submit" onclick="f1.action='/edit/{{page}}';">저장</button>
                        <button class="btn" type="submit" onclick="f1.action='/preview/{{page}}';">미리보기</button>
                    </div>
                </form>      
                {% endif %}
                {% if preview == 1 %}
                {% autoescape false %}
                {{enddata}}
                {% endautoescape %}
                {% endif %}
                {% elif tn == 3 %}
                <table style="width: 100%;">
                    <tbody>
                        <tr>
                            <td style="text-align: center;width:33.33%;">문서명</td>
                            <td style="text-align: center;width:33.33%;">기여자</td>
                            <td style="text-align: center;width:33.33%;">시간</td>
                        </tr>
                    </tbody>
                </table>
                {% autoescape false %}
                {{rows}}
                {% endautoescape %}
                {% elif tn == 4 %}
                {% autoescape false %}
                {{rows}}
                {% endautoescape %}
                {% elif tn == 5 %}
                <form class="usrform" method='POST' action='/history/{{page}}/n/1'>
                <select name="a">
                    {% autoescape false %}
                    {{select}}
                    {% endautoescape %}
                </select>
                <select name="b">
                    {% autoescape false %}
                    {{select}}
                    {% endautoescape %}
                </select>
                <button class="btn btn-primary" type='submit'>리비전 비교</button>
                <br>
                <br>
                <table style="width: 100%;">
                    <tbody>
                        <tr>
                            <td style="text-align: center;width:33.33%;">판</td>
                            <td style="text-align: center;width:33.33%;">기여자</td>
                            <td style="text-align: center;width:33.33%;">시간</td>
                        </tr>
                    </tbody>
                </table>
                {% autoescape false %}
                {{rows}}
                {% endautoescape %}
                {% elif tn == 6 %}
                <div>
                    {% autoescape false %}
                    {{data}}
                    {% endautoescape %}
                </div>
                {% elif tn == 7 %}
                <div>
                    {% autoescape false %}
                    {{data}}
                    {% endautoescape %}
                </div>
                {% elif tn == 8 %}
                <form id="usrform" method="POST" action="/delete/{{page}}">
                    {{plus}}
                    <br>
                    <br>
                    <button class="btn btn-primary" type="submit">삭제</button>
                </form>
                {% if login == 0 %}
                <span>비 로그인 상태입니다. 비 로그인으로 작업 시 아이피가 역사에 기록됩니다.</span>
                {% endif %}
                {% elif tn == 9 %}
                <form id="usrform" method="POST" action="/move/{{page}}">
                    {{plus}}
                    <br>
                    <br>
                    <input class="form-control input-sm" value="{{title}}" name="title" type="text">
                    <br>
                    <br>
                    <button class="btn btn-primary" type="submit">이동</button>
                </form>
                {% if login == 0 %}
                <span>비 로그인 상태입니다. 비 로그인으로 작업 시 아이피가 역사에 기록됩니다.</span>
                {% endif %}
                {% elif tn == 10 %}
                <form id="usrform" style="margin-top: -30px;" method="POST" action="/topic/{{page}}">
                    {% autoescape false %}
                    {{plus}}
                    {% endautoescape %}
                    {% if list == 1 %}
                    <br>
                    <a href="/topic/{{page}}/close">(닫힌 토론)</a> <a href="/topic/{{page}}/agree">(합의된 토론)</a>
                    <br>
                    <br>
                    <input class="form-control" name="topic" style="width: 100%">
                    <br>
                    <br>
                    <button class="btn btn-primary" type="submit">새토론</button>
                    {% endif %}
                </form>
                {% elif tn == 11 %}
                <h2 style="margin-top: -15px;">{{toron}}</h2>
                <br>
                {% autoescape false %}
                {{rows}}
                {% endautoescape %}
                {% if ban == 1 %}
                {% else %}
                <a id="reload" href="javascript:window.location.reload(true);">(갱신)</a> <a href="#reload">(갱신 전에 누르시오)</a>
                <form id="usrform" style="{{style}}" method="POST" action="/topic/{{page}}/sub/{{suburl}}">
                    <br>
                    <textarea rows="10" cols="100" name="content" form="usrform"></textarea>
                    <br>
                    <br>
                    <button class="btn btn-primary" type="submit">전송</button>
                </form>
                {% if login == 0 and style == '' %}
                <span>비 로그인 상태입니다. 비 로그인으로 작업 시 아이피가 역사에 기록됩니다.</span>
                {% endif %}
                {% endif %}
                {% elif tn == 12 %}
                <table style="width: 100%;">
                    <tbody>
                        <tr>
                            <td style="text-align: center;width:50%;">토론명</td>
                            <td style="text-align: center;width:50%;">시간</td>
                        </tr>
                    </tbody>
                </table>
                {% autoescape false %}
                {{rows}}
                {% endautoescape %}
                {% elif tn == 13 %}
                <form id="usrform" method="POST" action="/revert/{{page}}/r/{{r}}">
                    {{plus}}
                    <br>
                    <br>
                    <button class="btn btn-primary" type="submit">되돌리기</button>
                </form>
                {% if login == 0 %}
                <span>비 로그인 상태입니다. 비 로그인으로 작업 시 아이피가 역사에 기록됩니다.</span>
                {% endif %}
                {% elif tn == 15 %}
                {% if title == '회원가입' %}
                <form id="usrform" method="POST" action="/register">
                {% elif title == '비밀번호 변경' %}
                <form id="usrform" method="POST" action="/change">
                {% else %}
                <form id="usrform" method="POST" action="/login">
                {% endif %}
                    <span>아이디</span>
                    <br>
                    <br>
                    <input name="id" type="text">
                    <br>
                    <br>
                    <span>{% if title == '비밀번호 변경' %}현재 {% endif %}비밀번호</span>
                    <br>
                    <br>
                    <input name="pw" type="password">
                    <br>
                    <br>
                    {% if not title == '로그인' %}
                    <span>{% if title == '비밀번호 변경' %}변경할 비밀번호{% else %}재 확인{% endif %}</span>
                    <br>
                    <br>
                    <input name="pw2" type="password">
                    <br>
                    <br>
                    {% if title == '비밀번호 변경' %}
                    <span>재 확인</span>
                    <br>
                    <br>
                    <input name="pw3" type="password">
                    <br>
                    <br>
                    {% endif %}
                    {% endif %}
                    <button class="btn btn-primary" type="submit">{{enter}}</button>
                </form>
                {% elif tn == 16 %}
                <form id="usrform" method="POST" action="/ban/{{page}}">
                    {% if now == '차단' or now == '대역 차단' %}
                    <input class="form-control" name="end" style="width: 100%">
                    <br>
                    <br>
                    <span>아무것도 안 적으면 무기한 차단입니다.</span>
                    <br>
                    <br>
                    <span>차단 일 지정시 형식은 YYYY-MM-DD로 기록해야 합니다. (예시: 2017-01-20, 2017-10-15)</span>
                    <br>
                    <br>
                    <span>지금 시각은 {{today}} 입니다.</span>
                    <br>
                    <br>
                    <input class="form-control" name="why" style="width: 100%">
                    <br>
                    <br>
                    <span>사유를 쓰는 곳입니다.</span>
                    {% if allif == 1 %}
                    <br>
                    <br>
                    <input type="checkbox" name="band">
                        <span>대역 차단</span>
                    </input>
                    {% endif %}
                    <br>
                    <br>
                    {% endif %}
                    <button class="btn btn-primary" type="submit">{{now}}</button>
                </form>
                {% elif tn == 18 %}
                <form id="usrform" method="POST" action="/admin/{{page}}">
                    {% if now == '권한 부여' %}
                    <select name="select">
                        <option value="admin" selected="selected">관리자</option>
                        <option value="owner">소유자</option>
                    </select>
                    <br>
                    <br>
                    {% endif %}
                    <button class="btn btn-primary" type="submit">{{now}}</button>
                </form>
                {% elif tn == 19 %}
                <br>
                <span>{{now}}</span>
                <br>
                <br>
                <form id="usrform" method="POST" action="/acl/{{page}}">
                    <select name="select">
                        <option value="admin" selected="selected">관리자만</option>
                        <option value="user">유저 이상</option>
                        <option value="normal">일반</option>
                    </select>
                    <br>
                    <br>
                    <button class="btn btn-primary" type="submit">ACL 변경</button>
                </form>
                {% elif tn == 20 %}
                <table style="width: 100%;">
                    <tbody>
                        <tr>
                            <td style="text-align: center;width:20%;">차단자</td>
                            <td style="text-align: center;width:20%;">관리자</td>
                            <td style="text-align: center;width:20%;">언제까지</td>
                            <td style="text-align: center;width:20%;">왜</td>
                            <td style="text-align: center;width:20%;">시간</td>
                        </tr>
                    </tbody>
                </table>
                {% autoescape false %}
                {{rows}}
                {% endautoescape %}
                {% elif tn == 21 %}
                <div>
                    <form action="" method=post enctype=multipart/form-data>
                        <input type=file name=file>
                        <input type=submit value=Upload>
                    </form>
                </div>
                <span>{{number}}MB 이하 파일만 업로드 가능하고 파일 명에 ./\*<>|:? 들은 불가능하며 확장자는 jpg, png, gif, jpeg만 가능합니다.</span>
                {% elif tn == 22 %}
                <table style="width: 100%;">
                    <tbody>
                        <tr>
                            <td style="text-align: center;width:33.33%;">유저</td>
                            <td style="text-align: center;width:33.33%;">아이피</td>
                            <td style="text-align: center;width:33.33%;">언제</td>
                        </tr>
                    </tbody>
                </table>
                {% autoescape false %}
                {{rows}}
                {% endautoescape %}
                {% else %}
                <div>
                    {% autoescape false %}
                    {{data}}
                    {% endautoescape %}
                </div>
                {% endif %}
                <hr id="last">
                <p>{% autoescape false %}{{license}}{% endautoescape %}</p>
                <div id="powered">
                    <a href="https://github.com/2DU/openNAMU"><img src="{{url_for('static', filename='images/on2.png')}}" width="100px"></a>
                </div>
            </div>
		</div>
	</body>
</html>
