textarea { width: 100%; }
input { width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
#last { margin-top: 30px; }
#toc { border: 1px solid; padding: 20px; width: fit-content; width: -moz-fit-content; clear: both; margin-top: 10px; }
#toc-name { font-size: 18px; }
table { border-collapse: collapse; }
td { border: 1px solid; padding: 5px; }
a { text-decoration: none; }
#not_thing { color: red; }
#inside, #out_link, #open { color: green; }
#out_link::before { background: green; color: white; content: "E"; }
input[type="checkbox"] { width: auto; }
.popup { position: fixed; bottom: 0; padding: 10px; left: 0; background: lightgray; width: 100%; }
#list { padding: 10px; }
#toron { width: 100%; }
#toron_color_green { background: lightgreen; }
#toron_color_blue { background: skyblue; }
#toron_color_red { background: indianred; }
#toron_color_grey { background: gainsboro; }
#toron_color_not { display: none; }
#cate { border: 1px solid; padding: 5px; }
blockquote { border: 1px solid; padding: 15px; margin: 0; margin-top: 10px; display: inline-block; }
img, iframe { max-width: 100%; }
pre { border: 1px solid; padding: 10px; white-space: pre-wrap; }
#in { margin-left: 20px; }
#out { margin-left: 5px; }
s, strike, del { color: gray; }
s:hover, strike:hover, del:hover { color: gray; background-color: gainsboro; text-decoration: none; }
#main_table_set { width: 100%; text-align: center; }
#main_table_width { width: 33.3%; }
#main_table_width_half { width: 50%; }
#main_table_width_quarter { width: 25%; }
#redirect { border: 1px solid; padding: 10px; }
body { word-break: break-all; overflow: auto; }
hr.main_hr { border: none; margin-top: 8px; margin-bottom: 8px; }
#include_link { display: none; }
.foot_plus { background: white; border: 5px solid gainsboro; padding: 5px; width: 300px; height: 300px; position: fixed; top: calc(50% - 150px); right: calc(50% - 150px); display: none; z-index: 100; }
#toc_title { font-size: 18px; }
blockquote { background-image: url(/views/acme/img/quote.png); background-position: calc(100% - 10px) 10px; background-repeat: no-repeat; background-size: 25px; }
#admin_log_search { width: 100px; }
@media (max-width: 768px) { table { min-width: 100%; }}
@media (max-width: 400px) { .foot_plus { width: 80%; right: calc(100% - 92%); }}
@media (max-height: 400px) { .foot_plus { height: 80%; top: calc(100% - 92%); }}
.foot_in { overflow-y: scroll; height: calc(100% - 20px); }
#origin { display: none; }
.all_in_data { display: block; width: 100%; }
.table_safe { max-width: 100%; }
.change_space { white-space: pre; }